asgiref==3.7.2
botocore==1.31.78
certifi==2023.7.22
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
cssbeautifier==1.14.11
Django==4.2.6
django-environ==0.11.2
django-filter==23.3
django-filters-facet @ git+https://github.com/caktus/django-filters-facet.git@775e63f1bb87b4f374f1eea62168cf74dbffb2d9
django-widget-tweaks==1.5.0
EditorConfig==0.12.3
Faker==20.0.0
html-tag-names==0.1.2
html-void-elements==0.1.0
idna==3.4
jmespath==1.0.1
jsbeautifier==1.14.11
json5==0.9.14
pathspec==0.11.2
psycopg==3.1.12
python-dateutil==2.8.2
python-dotenv==1.0.0
PyYAML==6.0.1
regex==2023.10.3
requests==2.31.0
s3transfer==0.7.0
six==1.16.0
sqlparse==0.4.4
stripe==7.4.0
tomli==2.0.1
tqdm==4.66.1
typing_extensions==4.8.0
tzdata==2023.3
urllib3==2.0.7
